<div class>
    <section class="background-home">
        <div class="contain-1">
            <div class="content-text">
                <p class="bem-vindo">Seja bem-vindo(a)</p>
                <h1>Michelle Bonozatto</h1>
                <p class="description">
                    Saúde mental nos dias atuais é de extrema importância para sua saúde como um todo.
                </p>
                <p class="description">
                    A psicologia moderna busca promover o bem-estar emocional, utilizando abordagens inovadoras para lidar com desafios mentais e aprimorar a compreensão de si mesmo. Descubra uma jornada de autoconhecimento e equilíbrio emocional conosco.
                </p>
                <a href="https://api.whatsapp.com/send?phone=61999687967" target="_blank">Vamos conversar?</a>


            </div>
            <img
                src="../../../assets/images/psicologa.png"
                alt="Imagem da psicologa"
            >
        </div>

    </section>

    <section class="sobre">
        <div class="content-sobre">
            <h2>Olá, muito prazer!</h2>
            <p class="sobre-text">
                Bem-vindo à jornada de autodescoberta com Michelle Bonozatto, CFP FICTÍCIO. Especializada em Terapia Cognitivo-Comportamental e Abordagens Integrativas, estou aqui para oferecer suporte emocional e promover o bem-estar. Vamos trabalhar juntos para explorar caminhos de crescimento e transformação.
            </p>
            <p class="sobre-text">
                Minha missão é facilitar o autoconhecimento e promover o bem-estar emocional, guiando indivíduos em sua jornada de transformação.
            </p>
            <app-card></app-card>
        </div>

        <img
            src="../../../assets/images/video-chamada.jpg"
            alt="Imagem de video chamada"
        >
    </section>

    <section class="tratamentos">
        <h2>
            Encontre todos os tipos de tratamento que a sua saúde mental precisa
        </h2>
        <div class="card">

            <app-tratamentos
                *ngFor="let card of cards"
                [title]="card.title"
                [image]="card.image"
                [description]="card.description"
            ></app-tratamentos>
        </div>
    </section>
</div>
