<div class>
    <section class="background-home">
        <p>Seja bem-vindo(a)</p>
        <h1>Michelle Bonozatto</h1>
        <p>
            Saúde mental nos dias atuais é de extrema importância para sua saúde como um todo.
        </p>
        <p>
            A psicologia moderna busca promover o bem-estar emocional, utilizando abordagens inovadoras para lidar com desafios mentais e aprimorar a compreensão de si mesmo. Descubra uma jornada de autoconhecimento e equilíbrio emocional conosco.
        </p>
        <button>Vamos conversar?</button>

    </section>

    <section class="sobre">
        <h2>Olá, muito prazer!</h2>
        <p>
            Bem-vindo à jornada de autodescoberta com Michelle Bonozatto, CFP FICTÍCIO. Especializada em Terapia Cognitivo-Comportamental e Abordagens Integrativas, estou aqui para oferecer suporte emocional e promover o bem-estar. Vamos trabalhar juntos para explorar caminhos de crescimento e transformação.
        </p>
        <p>
            Minha missão é facilitar o autoconhecimento e promover o bem-estar emocional, guiando indivíduos em sua jornada de transformação.
        </p>
        <!-- TODO IMAGEM -->
        <!-- TODO CARD - -->
    </section>

    <section class="tratamentos">
        <h2>
            Encontre todos os tipos de tratamento que a sua saúde mental precisa
        </h2>
        <!-- TODO CARDS PARA CADA UM TIPO -->
        <div>

        </div>
    </section>
</div>
